<section class="comparison section">
	<div class="wrapper">
		<h2 class="title">Будьте аккуратны <br> при выборе метода дегельминтизации,

		</h2>
		<h3 class="subtitle comparison__subtitle">чтобы не навредить себе и своим близким!</h3>
		<div class="comparison__table">
			<div class="comparison__table-column comparison__table-column_tablets">
				<div class="comparison__table-head">
					<div class="comparison__pic">
						<img src="img/comparison-1.png" alt="" class="comparison__img">
					</div>
					<p class="comparison__table-header">Популярные таблетки <br> и диеты</p>
				</div>
				<div class="comparison__table-cell comparison__table-cell_row1">
					<div class="comparison__bullet-false"></div>
					<p class="comparison__table-desc"><span class="comparison__table-accent">Не выводят</span> все виды <br> паразитов</p>
				</div>
				<div class="comparison__table-cell comparison__table-cell_row2 comparison__table-cell_tabl">
					<div class="comparison__bullet-false"></div>
					<p class="comparison__table-desc"><span class="comparison__table-accent">Не очищают</span> от токсинов</p>
				</div>
				<div class="comparison__table-cell comparison__table-cell_row3">
					<div class="comparison__bullet-false"></div>
					<p class="comparison__table-desc"><span class="comparison__table-accent">Вредны</span> для человека</p>
				</div>
			</div>
			<div class="comparison__table-column comparison__table-column_enema">
				<div class="comparison__table-head">
					<div class="comparison__pic">
						<img src="img/comparison-2.png" alt="" class="comparison__img">
					</div>
					<p class="comparison__table-header">Промывание кишечника, <br> клизмы</p>
				</div>
				<div class="comparison__table-cell comparison__table-cell_row1">
					<div class="comparison__bullet-false"></div>
					<p class="comparison__table-desc">Большая часть глистов <br>
						<span class="comparison__table-accent">остается</span></p>
				</div>
				<div class="comparison__table-cell comparison__table-cell_row2 comparison__table-cell_enema">
					<div class="comparison__bullet-false"></div>
					<p class="comparison__table-desc">Яд, токсины и шлаки <br> <span class="comparison__table-accent">продолжают отравлять</span> <br> организм</p>
				</div>
				<div class="comparison__table-cell comparison__table-cell_row3">
					<div class="comparison__bullet-false"></div>
					<p class="comparison__table-desc"><span class="comparison__table-accent">Разрушает</span> микрофлору</p>
				</div>
			</div>
			<div class="comparison__table-column comparison__table-column_product">
				<div class="comparison__table-head">
					<div class="comparison__pic">
						<img src="img/prod-1.png" alt="" class="comparison__img">
					</div>
					<p class="comparison__table-header">Helmion</p>
				</div>
				<div class="comparison__table-cell comparison__table-cell_row1">
					<div class="comparison__bullet-true"></div>
					<p class="comparison__table-desc"><span class="comparison__table-accent">Выводит все виды <br> паразитов</span></p>
				</div>
				<div class="comparison__table-cell comparison__table-cell_row2">
					<div class="comparison__bullet-true"></div>
					<p class="comparison__table-desc"><span class="comparison__table-accent">Очищает от шлаков <br> и токсинов</span></p>
				</div>
				<div class="comparison__table-cell comparison__table-cell_row3">
					<div class="comparison__bullet-true"></div>
					<p class="comparison__table-desc"><span class="comparison__table-accent">Натурален и безопасен</span></p>
				</div>
			</div>
		</div>
		<div class="comparison__footnote">
			<p class="comparison__footnote_accent">Используйте гель <span class="green">Helmion</span> —</p>
			<p class="comparison__footnote-subtitle">
				проверенное натуральное средство на основе новейших немецких технологий
			</p>
		</div>
	</div>
</section>