<link rel="stylesheet" href="../../../../../2103/20Flex/build/css/main.css">
<section class="section consist bg__grey" id="consist">
    <div class="wrapper">
        <div class="arrow arrow--white">
            <a href="#consist">
                <svg class="arrow__svg" version="1.1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
				 viewBox="0 0 30 17" style="enable-background:new 0 0 30 17;" xml:space="preserve">
			<style type="text/css">
				.bottom__arrow {
                    fill: #FFFFFF;
                }
			</style>
			<g>
				<g transform="translate(-1266 -372)">
					<g>
						<path class="bottom__arrow" d="M1295.4,372.6c-0.4-0.4-0.8-0.6-1.3-0.6h-26.2c-0.5,0-0.9,0.2-1.3,0.6c-0.4,0.3-0.6,0.8-0.6,1.3
							c0,0.5,0.2,1,0.6,1.3l13.1,13.2c0.4,0.4,0.8,0.6,1.3,0.6c0.5,0,0.9-0.2,1.3-0.6l13.1-13.2c0.4-0.4,0.6-0.8,0.6-1.3
							C1296,373.4,1295.8,372.9,1295.4,372.6L1295.4,372.6z"/>
					</g>
				</g>
			</g>
			</svg>
            </a>

            <svg class="el__svg" version="1.1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
			 viewBox="0 0 368 40" style="enable-background:new 0 0 368 40;" xml:space="preserve">
			<style type="text/css">
				.bottom__el {
                    fill: #E1E7EC;
                }
			</style>
			<g>
				<g transform="translate(-1096 -372)">
					<g>
						<path class="bottom__el" d="M0,372h1465c-61.6,0-123.8,40-186,40c-61.5,0-123-40-184-40H0z"/>
					</g>
				</g>
			</g>
			</svg>


        </div>

        <h2 class="consist__title title">
            Для извлечения максимально концентрированных <br>
            и&nbsp;чистых экстрактов, при&nbsp;производстве <span class="text__blue">Diaprin</span>
        </h2>
        <h3 class="consist__subtitle subtitle">
            используются новейшие американские технологии
        </h3>

        <div class="consist__content">
            <div class="consist__mineral">
                <div class="consist__him consist__him--1">
                    <ul class="consist__him-list consist__him-list--1">
                        <li class="consist__him-el consist__him-el--01">А</li>
                        <li class="consist__him-line consist__him-line--01"></li>
                        <li class="consist__him-el consist__him-el--02">Е</li>
                        <li class="consist__him-line consist__him-line--02"></li>
                        <li class="consist__him-el consist__him-el--03"><span>В<span class="consist__him-el--small">6</span></span></li>
                        <li class="consist__him-line consist__him-line--03"></li>
                        <li class="consist__him-el consist__him-el--04"><span>В<span class="consist__him-el--small">12</span></span></li>
                        <li class="consist__him-line consist__him-line--04"></li>
                    </ul>
                    <ul class="consist__him-list consist__him-list--2">
                        <li class="consist__him-el consist__him-el--01">С</li>
                        <li class="consist__him-line consist__him-line--01"></li>
                        <li class="consist__him-el consist__him-el--02"><span>В<span class="consist__him-el--small">1</span></span></li>
                        <li class="consist__him-line consist__him-line--02"></li>
                        <li class="consist__him-el consist__him-el--03"><span>В<span class="consist__him-el--small">7</span></span></li>
                        <li class="consist__him-line consist__him-line--03"></li>
                        <li class="consist__him-el consist__him-el--04">Н</li>
                    </ul>
                </div>
                <div class="consist__prod">
                    <img src="img/product__big.png" alt="" class="consist__prod--big">
                </div>
                <div class="consist__him consist__him--2">
                    <ul class="consist__him-list consist__him-list--1">
                        <li class="consist__him-el consist__him-el--01">Ka</li>
                        <li class="consist__him-line consist__him-line--01"></li>
                        <li class="consist__him-el consist__him-el--02">I</li>
                        <li class="consist__him-line consist__him-line--02"></li>
                        <li class="consist__him-el consist__him-el--03">Mn</li>
                        <li class="consist__him-line consist__him-line--03"></li>
                        <li class="consist__him-el consist__him-el--04">Fe</li>
                        <li class="consist__him-line consist__him-line--04"></li>
                        <li class="consist__him-el consist__him-el--05">P</li>
                    </ul>
                    <ul class="consist__him-list consist__him-list--2">
                        <li class="consist__him-el consist__him-el--01">Si</li>
                        <li class="consist__him-line consist__him-line--01"></li>
                        <li class="consist__him-el consist__him-el--02">Ca</li>
                        <li class="consist__him-line consist__him-line--02"></li>
                        <li class="consist__him-el consist__him-el--03">Zn</li>
                        <li class="consist__him-line consist__him-line--03"></li>
                        <li class="consist__him-el consist__him-el--04">Cu</li>
                        <li class="consist__him-line consist__him-line--04"></li>
                    </ul>
                </div>
            </div>
            <div class="consist__items">
                <div class="consist__items--wrap">
                    <div class="consist__item">
                        <div class="consist__pic">
                            <img src="img/consist-1.png" alt="img" class="consist__pic--img">
                        </div>
                        <p class="consist__text">
                        <span class="consist__text--title">
                            Микрокристаллическая целлюлоза
                        </span> – <br>
                            запускает стабильный процесс избавления от лишнего веса с первых применений
                        </p>
                    </div>
                    <div class="consist__item">
                        <div class="consist__pic">
                            <img src="img/consist-2.png" alt="img" class="consist__pic--img">
                        </div>
                        <p class="consist__text">
                        <span class="consist__text--title">
                            Клубни Топинамбура
                        </span> – <br>
                            содержат природные аналоги инсулина, снижают уровень сахара
                        </p>
                    </div>
                    <div class="consist__item">
                        <div class="consist__pic">
                            <img src="img/consist-3.png" alt="img" class="consist__pic--img">
                        </div>
                        <p class="consist__text">
                        <span class="consist__text--title">
                            Корень Цикория
                        </span> – <br>
                            улучшает метаболизм и жировой обмен, восстанавливает работу клеток организма

                        </p>
                    </div>
                    <div class="consist__item">
                        <div class="consist__pic">
                            <img src="img/consist-4.png" alt="img" class="consist__pic--img">
                        </div>
                        <p class="consist__text">
                        <span class="consist__text--title">
                            Корень Омана
                        </span> – <br>
                            нормализует уровень глюкозы в крови, поддерживает работу всего организма
                        </p>
                    </div>
                    <div class="consist__item">
                        <div class="consist__pic">
                            <img src="img/consist-5.png" alt="img" class="consist__pic--img">
                        </div>
                        <p class="consist__text">
                        <span class="consist__text--title">
                            Экстракт курильского чая
                        </span> – <br>
                            восстанавливает клетки поджелудочной железы, нормализует ее работу
                        </p>
                    </div>
                </div>
                <p class="consist__open">
                    Смотреть весь состав
                </p>
            </div>
        </div>
        <button class="consist__btn btn ever-popup-btn">
            <span class="btn__text-f">
                Забронировать
            </span>
            <span class="btn__text-s">
                скидку
            </span>
        </button>
    </div>
</section>