<section class="section fat bg__grey">
    <div class="wrapper">
        <h2 class="fat__title title">
            В <span class="text__blue">80%</span> случаев лишний вес становится <br>
            основной причиной диабета
        </h2>
        <div class="fat__how-work">
        	<h3 class="fat__how-work-title">Как работает организм:</h3>
        	<div class="fat__comparison">
        		<div class="fat__healthy">
        			<h4>Здоровый</h4>
        			<div class="fat__demo fat__demo-healthy">
                        <div class="fat__origin">
            				<img src="./img/fat-1.png" alt="">
            				<span class="fat__insulin">Инсулин</span>
            				<span class="fat__glucose">Глюкоза</span>
            				<span class="fat__cell"><b>Клетка</b></span>
                        </div>
        			</div>
        			<ul class="fat__order fat__order-healthy">
        				<li>Инсулин попадает в рецептор клетки</li>
        				<li>Клетка открывается</li>
        				<li>Глюкоза попадает внутрь клетки</li>
        				<li>Клетка перерабатывает глюкозу в энергию</li>
        				<li>Человек полон сил, активен, спокоен</li>
        			</ul>
        			<div class="fat__result fat__result-healthy">
        				<p><b>Инсулин правильно взаимодействует с клетками:</b> клетки перерабатывают глюкозу и вырабатывают <span class="ib">для организма</span> энергию</p>
        			</div>
        		</div>
        		<div class="fat__overweight">
        			<h4>С лишним весом</h4>
        			<div class="fat__demo fat__demo-overweight">
                        <div class="fat__origin">
            				<img src="./img/fat-2.png" alt="">
            				<span class="fat__insulin">Инсулин</span>
            				<span class="fat__glucose">Глюкоза</span>
            				<span class="fat__cell"><b>Клетка</b></span>
            				<span class="fat__lard"><b>Жир</b></span>
                        </div>
        			</div>
        			<ul class="fat__order fat__order-overweight">
        				<li>Жир обволакивает клетки</li>
        				<li>Инсулину не добраться до рецепторов клетки</li>
        				<li>Постепенно рецепторы инсулина атрофируются</li>
        				<li>Глюкоза остается в крови разрушая <span class="ib">все внутренние</span> органы</li>
        				<li>Человек чувствует себя уставшим, вялым, малоэнергичным</li>
        				
        			</ul>
        			<div class="fat__result fat__result-overweight">
        				<p><b>Клетки организма не взаимодействуют <span class="ib">с инсулином:</span></b> рецепторы клеток заблокированы жиром и “отвыкают” видеть инсулин</p>
        			</div>
        		</div>
        	</div>
        	<div class="fat__effects">
        		<h3>Последствия:</h3>
        		<p>Скорость расщепления глюкозы замедляется 
					<span class="ib">в 20-40 раз,</span> она скапливается <span class="ib">в крови:</span> 
					<b class="ib">начинается диабет 2 типа.</b> 
					<p><b>Страдают все внутренние органы:</b> 
					<span class="ib">поджелудочная, печень,</span> сосуды, сердце, зрение, мозг.</p>
				</p>
				<div class="fat__feels">
					<h4 class="fat__feels-title">Больной ощущает:</h4>
					<ul>
						<li><img src="./img/fat-bullet-1.png" alt="">сухость во рту и жажду</li>
						<li><img src="./img/fat-bullet-2.png" alt="">усталость даже после сна</li>
						<li><img src="./img/fat-bullet-3.png" alt="">голод который сложно утолить</li>
						<li><img src="./img/fat-bullet-4.png" alt="">онемение рук и ног</li>
						<li><img src="./img/fat-bullet-5.png" alt="">долго заживают ранки и царапины</li>
					</ul>
				</div>
				<img class="fat__man" src="./img/fat-man.png" alt="">
        	</div>
        </div>
    </div>
</section>