<section class="header">
    <div class="wrapper">
        <div class="header__top">
            <h2 class="header__logo">
                Diaprin
            </h2>
            <ul class="header__nav">
                <li class="header__itm header__itm--1">
                    <img src="img/header__top-1.svg" alt="icon" class="header__itm--ico">
                    <span>
                        <a href="#technology" class="header__itm--link">
                        Технология <span class="text__blue header__itm--b">Pfaizer, Inc.</span> – лидера <br>
                        фармакологической сферы
                    </a>
                    </span>
                </li>
                <li class="header__itm header__itm--2">
                    <img src="img/header__top-2.svg" alt="icon" class="header__itm--ico">
                    <span>
                        <a href="#recommendation" class="header__itm--link">
                        <span class="text__blue header__itm--b">№1</span> рекомендация американских <br>
                        и&nbsp;российских эндокринологов
                    </a>
                    </span>
                </li>
                <li class="header__itm header__itm--3">
                    <img src="img/header__top-3.svg" alt="icon" class="header__itm--ico">
                    <span>
                        <a href="#review" class="header__itm--link">
                        Более <span class="text__blue header__itm--b">17 300</span> довольных <br>
                        покупателей за 2018 год
                    </a>
                    </span>
                </li>
            </ul>
        </div>
        <div class="header__content">
            <div class="header__des">
                <h2 class="header__main-title">
                    Передовая <br>
                    американская <br>
                    технология
                    <span class="header__main-title--small">
                        при диабете <span class="header__main-title--small-red">2 типа</span>
                    </span>
                </h2>
                <ul class="header__adv">
                    <li class="header__item">
                        <span class="header__item--el"></span>
                        <p class="header__text">
                            Устраняет лишний вес —
                            <span class="header__text--small">
                                основную причину диабета <span class="header__text--small-red">2 типа</span>
                            </span>
                        </p>
                    </li>
                    <li class="header__item">
                        <span class="header__item--el"></span>
                        <p class="header__text">
                            Улучшает самочувствие
                            <span class="header__text--small">
                                с первых дней
                            </span>
                        </p>
                    </li>
                    <li class="header__item">
                        <span class="header__item--el"></span>
                        <p class="header__text">
                            Стабилизирует уровень <br> сахара
                            <span class="header__text--small">
                                после окончания курса
                            </span>
                        </p>
                    </li>
                </ul>
            </div>

            <div class="header__prod">
                <img src="img/product__small.png" alt="" class="header__prod--small">
                <img src="img/product__big.png" alt="" class="header__prod--big">
            </div>
            <div class="header__form">
                <form action="/submit" method="post" class="form x_order_form">
                    <div class="form__top">
                        <h3 class="form__title">
                            Успейте забронировать <br>
                            по акционной цене <br>
                            <span class="form__title--green">до <span class="date-0">26.11.2018</span></span>
                        </h3>
                        <div class="form__price">
                            <div class="form__old-price">
                                <h3 class="form__old-price--title">
                                    Старая цена
                                </h3>
                                <p class="form__old-price--num">
                                    <span class="x_price_previous form__old-price--cross">1980</span><span
                                        class="x_currency">руб</span>
                                </p>
                            </div>
                            <div class="form__new-price">
                                <h3 class="form__new-price--title">
                                    Ваша цена
                                </h3>
                                <p class="form__new-price--num">
                                    <span class="x_price_current form__new-price--cross">990</span><span
                                        class="x_currency">руб</span>*
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form__content">
                        <h3 class="form__content--title">
                            Как к вам обращаться?
                        </h3>
                        <div class="form__field form__field--name">
                            <input type="text" class="form__field--input" name="name" required autocomplete="name"
                                   placeholder="Ваше имя">
                        </div>
                        <div class="form__field form__field--tel">
                            <input type="tel" class="form__field--input" name="phone" required autocomplete="tel"
                                   placeholder="Ваш телефон">
                        </div>
                        <button class="btn">
                            <span class="btn__text-f">
                                Забронировать
                            </span>
                            <span class="btn__text-s">
                                скидку
                            </span>
                        </button>
                        <span class="form__star">
                            * при заказе курса
                        </span>
                    </div>
                    <p class="form__lastpack">
                        Еще упаковок по акции: <span class="form__lastpack--green lastpack">15</span>
                    </p>
                    <p class="form__delivery">
                        <img src="img/delivery.svg" alt="car" class="form__delivery--img">
                        <span class="form__delivery--text">
                            Быстрая доставка
                        </span>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>

