<section class="section header section-white">
    <div class="wrapper">
        <div class="header__head-logo">

            <div class="header__logo">
                <a href="#" class="header__logo-link">
                    <img src="img/logo.png" alt="logo">
                </a>
                <span class="header__sub-logo">Антигельминтный гель</span>
            </div>

            <div class="header__navigation">

                <div class="header__navigation-item">
                    <img src="img/header-nav-1.svg" alt="reviews">
                    <a href="#" class="header__navigation-link -reviews">
                        <span>Отзывы</span>
                    </a>
                </div>

                <div class="header__navigation-item -recomendation">
                    <img src="img/header-nav-2.svg" alt="reviews">
                    <a href="#" class="header__navigation-link">
                        <span>Рекомендация</span>
                        <span>паразитологов №1</span>
                    </a>
                </div>

            </div>
        </div>
        <div class="header__general-container">
            <!--1st-block-->
            <div class="header__summary-info">
                <h1 class="header__main-title">
                    Избавьтесь
                    от&nbsp;паразитов
                    и&nbsp;болезней, которые
                    они вызывают!
                </h1>
                <div class="header__deuch-innovation">
                    <div class="header__flag">
                        <img src="img/header-germany.jpg" alt="ger">
                    </div>
                    <p class="header__flag-title">
                        Инновационная
                        немецкая
                        технология
                    </p>
                </div>



                <div class="header__all-bullets">
                    <div class="header__bullet">
                        <p class="header__bullet-text">
                            <span>Очищает</span>
                            организм
                            от&nbsp;паразитов и&nbsp;их&nbsp;яиц
                        </p>
                    </div>
                    <div class="header__bullet">
                        <p class="header__bullet-text">
                            <span>Нейтрализует</span>
                            яды,
                            вырабатываемые паразитами
                        </p>
                    </div>
                    <div class="header__bullet">
                        <p class="header__bullet-text">
                            <span>Устраняет</span>
                            сопутствующие заболевания
                        </p>
                    </div>
                </div>

            </div>

            <!--2nd-block-->
            <div class="header__product-box">
                <div class="header__family-bg">
                    <img src="img/header__bg.png" alt="family-bg">
                </div>
                <div class="header__family">
                    <img src="img/header__people.png" alt="family">
                </div>
                <div class="header__prod">
                    <img src="img/prod-1.png" alt="prod">
                </div>
                <div class="header__prod-stick">
                    <img src="img/prod-2.png" alt="stick">
                </div>
            </div>




            <!--3rd-block-->
            <div class="header__form">
                <form action="/submit" method="post" class="form x_order_form">
                    <div class="form__wrap">
                        <div class="form__top">
                            <h3 class="form__title">
                                Успейте заказать <br>
                                по акции <br>
                                <span class="form__title--green">до <span class="date-0">26.11.2018</span></span>
                            </h3>
                            <div class="form__price">
                                <div class="form__old-price"><h3 class="form__old-price--title">Старая цена</h3>
                                    <p class="form__old-price--num"><span
                                            class="x_price_previous form__old-price--cross">918</span><span
                                            class="x_currency">грн</span></p></div>
                                <div class="form__new-price"><h3 class="form__new-price--title">Новая цена</h3>
                                    <p class="form__new-price--num"><span
                                            class="x_price_current form__new-price--cross">459</span><span
                                            class="x_currency">грн</span>*</p></div>
                            </div>
                            <p class="form__lastpacks">
                                Осталось упаковок <br>
                                по акции: <span class="form__lastpacks--green lastpacks">12</span>
                            </p>
                        </div>
                        <div class="form__content">
                            <div class="form__field form__field--name">
                                <input type="text" class="form__field--input" name="name" required
                                       autocomplete="name"
                                       placeholder="Моё имя">
                            </div>
                            <div class="form__field form__field--tel">
                                <input type="tel" class="form__field--input" name="phone" required
                                       autocomplete="tel"
                                       placeholder="Мой телефон">
                            </div>
                            <button class="btn">
                            <span class="btn__text-f">
                                Заказать
                            </span>
                                <span class="btn__text-s">
                                по акции
                            </span>
                            </button>
                            <span class="form__star">
                            * цена за порцию
                        </span>
                        </div>
                        <p class="form__delivery">
                            <img src="img/delivery.svg" alt="car" class="form__delivery--img">
                            <span class="form__delivery--text">
                            Оплата после получения
                        </span>
                        </p>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>