<div class="ever-popup-build">
    <div class="popup" id="cloneThis">
        <div class="popup__wrapper">
            <div class="popup__prod">
                <img src="img/prod-2.png" alt="" class="popup__prod--small">
                <img src="img/prod-1.png" alt="" class="popup__prod--big">
                <img src="img/popup__people.png" alt="" class="popup__prod--girl">
            </div>
            <div class="header__form">
                <form action="/submit" method="post" class="form x_order_form">
                    <div class="form__wrap">
                        <div class="form__top">
                            <h3 class="form__title">
                                Успейте заказать <br>
                                со скидкой <br>
                                <span class="form__title--green">до <span class="date-0">26.11.2018</span></span>
                            </h3>
                            <div class="form__price">
                                <div class="form__old-price"><h3 class="form__old-price--title">Старая цена</h3>
                                    <p class="form__old-price--num"><span class="x_price_previous form__old-price--cross">1980</span><span class="x_currency">грн</span></p></div>
                                <div class="form__new-price"><h3 class="form__new-price--title">Новая цена</h3>
                                    <p class="form__new-price--num"><span class="x_price_current form__new-price--cross">990</span><span class="x_currency">грн</span>*</p></div>
                            </div>
                            <p class="form__lastpacks">
                                Осталось упаковок <br>
                                со скидкой: <span class="form__lastpacks--green lastpacks">12</span>
                            </p>
                        </div>
                        <div class="form__content">
                            <div class="form__field form__field--name">
                                <input type="text" class="form__field--input" name="name" required
                                       autocomplete="name"
                                       placeholder="Моё имя">
                            </div>
                            <div class="form__field form__field--tel">
                                <input type="tel" class="form__field--input" name="phone" required
                                       autocomplete="tel"
                                       placeholder="Мой телефон">
                            </div>
                            <button class="btn">
                            <span class="btn__text-f">
                                Заказать
                            </span>
                                <span class="btn__text-s">
                                со скидкой
                            </span>
                            </button>
                            <span class="form__star">
                            * при заказе курса
                        </span>
                        </div>
                        <p class="form__delivery">
                            <img src="img/delivery.svg" alt="car" class="form__delivery--img">
                            <span class="form__delivery--text">
                            Оплата после получения
                        </span>
                        </p>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
