<div class="ever-popup-build">
    <div class="popup" id="cloneThis">
        <div class="popup__wrapper">
            <div class="popup__prod">
                <div class="popup__text">
                    <h2 class="popup__text--logo">
                        Diaprin
                    </h2>
                    <h3 class="popup__text--title">
                        Передовая <br>
                        американская <br>
                        технология
                    </h3>
                    <p class="popup__text--p">
                        при диабете <span class="popup__text--red">2 типа</span>
                    </p>
                </div>
                <img src="img/product__small.png" alt="" class="popup__prod--small">
                <img src="img/product__big.png" alt="" class="popup__prod--big">
                <img src="img/header__woman.png" alt="" class="popup__prod--girl">
            </div>
            <div class="popup__form">
                <form action="/submit" method="post" class="form x_order_form">
                    <div class="form__top">
                        <h3 class="form__title">
                            Успейте забронировать <br>
                            по акционной цене <br>
                            <span class="form__title--green">до <span class="date-0">26.11.2018</span></span>
                        </h3>
                        <div class="form__price">
                            <div class="form__old-price">
                                <h3 class="form__old-price--title">
                                    Старая цена
                                </h3>
                                <p class="form__old-price--num">
                                    <span class="x_price_previous form__old-price--cross">1980</span><span
                                        class="x_currency">руб</span>
                                </p>
                            </div>
                            <div class="form__new-price">
                                <h3 class="form__new-price--title">
                                    Ваша цена
                                </h3>
                                <p class="form__new-price--num">
                                    <span class="x_price_current form__new-price--cross">990</span><span
                                        class="x_currency">руб</span>*
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form__content">
                        <h3 class="form__content--title">
                            Как к вам обращаться?
                        </h3>
                        <div class="form__field form__field--name">
                            <input type="text" class="form__field--input" name="name" required autocomplete="name"
                                   placeholder="Иван Иванов">
                        </div>
                        <div class="form__field form__field--tel">
                            <input type="tel" class="form__field--input" name="phone" required autocomplete="tel"
                                   placeholder="+78 000 00 00">
                        </div>
                        <button class="btn">
                            <span class="btn__text-f">
                                Забронировать
                            </span>
                            <span class="btn__text-s">
                                скидку
                            </span>
                        </button>
                        <span class="form__star">
                            * при заказе курса
                        </span>
                    </div>
                    <p class="form__lastpack">
                        Еще упаковок по акции: <span class="form__lastpack--green lastpack">15</span>
                    </p>
                    <p class="form__delivery">
                        <img src="img/delivery.svg" alt="car" class="form__delivery--img">
                        <span class="form__delivery--text">
                            Бесплатная доставка
                        </span>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
