<section class="section prezident" id="prezident">
    <div class="wrapper">
		<div class="arrow arrow--grey">
			<a href="#prezident">
				<svg class="arrow__svg" version="1.1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
			 viewBox="0 0 30 17" style="enable-background:new 0 0 30 17;" xml:space="preserve">
		<style type="text/css">
			.bottom__arrow {
				fill: #FFFFFF;
			}
		</style>
		<g>
			<g transform="translate(-1266 -372)">
				<g>
					<path class="bottom__arrow" d="M1295.4,372.6c-0.4-0.4-0.8-0.6-1.3-0.6h-26.2c-0.5,0-0.9,0.2-1.3,0.6c-0.4,0.3-0.6,0.8-0.6,1.3
						c0,0.5,0.2,1,0.6,1.3l13.1,13.2c0.4,0.4,0.8,0.6,1.3,0.6c0.5,0,0.9-0.2,1.3-0.6l13.1-13.2c0.4-0.4,0.6-0.8,0.6-1.3
						C1296,373.4,1295.8,372.9,1295.4,372.6L1295.4,372.6z"/>
				</g>
			</g>
		</g>
		</svg>
			</a>

        <svg class="el__svg" version="1.1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
			 viewBox="0 0 368 40" style="enable-background:new 0 0 368 40;" xml:space="preserve">
		<style type="text/css">
			.bottom__el {
				fill: #E1E7EC;
			}
		</style>
		<g>
			<g transform="translate(-1096 -372)">
				<g>
					<path class="bottom__el" d="M0,372h1465c-61.6,0-123.8,40-186,40c-61.5,0-123-40-184-40H0z"/>
				</g>
			</g>
		</g>
		</svg>


		</div>

		<h2 class="prezident__title title">
			<img class="prezident__emblem" src="./img/prezident-emblem.png" alt="">
			Президент Американской Диабетической <br>
			Ассоциации <span class="text__blue text__bold">Джеймс Бьюз</span>
		</h2>
		<h3 class="prezident__subtitle subtitle">
			о том, почему не работают распространенные способы лечения диабета
		</h3>
		<div class="prezident__conference">
			<img class="prezident__img1" src="./img/prezident-img.jpg" alt="">
			<div class="prezident__quote">
				<blockquote>
					<p><i><b>“В Америке диабет 2 типа — болезнь нации.</b>
						Это случилось из-за повального увеличения веса наших граждан. Ситуация признана “эпидемией” национального масштаба.
						<b>Общепринятые способы лечения людям не помогают.”</b></i></p>
				</blockquote>
				<img class="prezident__sign" src="./img/prezident-sign.png" alt="">
				<p class="prezident__footnote">
					<i>*Слайд с конференции 2017 года</i>
				</p>
			</div>
		</div>
		<div class="prezident__table">
			<div class="prezident__head">
				<div class="prezident__cell prezident__head-top"><div class="prezident__cell-wrapper">Тип препаратов</div></div>
				<div class="prezident__cell prezident__row2"><div class="prezident__cell-wrapper">На что влияет</div></div>
				<div class="prezident__cell prezident__row3"><div class="prezident__cell-wrapper">Недостатки</div></div>
				<div class="prezident__cell prezident__row4"><div class="prezident__cell-wrapper">Окончательный эффект</div></div>
			</div>
			<div class="prezident__body">
				<div class="prezident__col">
					<div class="prezident__cell prezident__head-top"><div class="prezident__cell-wrapper">Для выработки инсулина <span class="prezident__brackets">(секретагоги)</span></div></div>
					<div class="prezident__cell prezident__row2"><div class="prezident__cell-wrapper">Снижают уровень сахара после еды</div></div>
					<div class="prezident__cell prezident__row3">
						<div class="prezident__cell-wrapper">
							<ul class="prezident__table-list">
								<li>
									<b>Вызывают еще больший прирост веса</b>
								</li>
								<li>Уровень сахара падает ниже нормы, что может привести к коме</li>
								<li>Вызывают нарушения зрения</li>
								<li>Короткий срок действия</li>
							</ul>
						</div>
					</div>
					<div class="prezident__cell prezident__cell-bottom prezident__row4">
						<div class="prezident__cell-wrapper">
							Организм очень быстро <b>теряет восприимчивость к этим препаратам.</b> Побочные же эффекты остаются.
						</div>
					</div>
				</div>
				<div class="prezident__col">
					<div class="prezident__cell prezident__head-top"><div class="prezident__cell-wrapper">Для повышения чувствительности к инсулину <span class="prezident__brackets">(глитазоны)</span></div></div>
					<div class="prezident__cell prezident__row2"><div class="prezident__cell-wrapper">Повышают возможность рецептора клетки распознать инсулин – больше шансов на взаимодействие с клеткой</div></div>
					<div class="prezident__cell prezident__row3"><div class="prezident__cell-wrapper">
						<ul class="prezident__table-list">
							<li>
								<b>Не эффективны при диабете на фоне лишнего веса из-за жировой оболочки клеток</b>
							</li>
							<li>Не снижают уровень сахара</li>
							<li>Вызывают нарушения работы печени</li>
							<li>Вызывают нарушение зрения</li>
						</ul>
					</div></div>
					<div class="prezident__cell prezident__cell-bottom prezident__row4"><div class="prezident__cell-wrapper">
						Эффективны при минимальных отклонениях сахара от нормы (до 7,5 ммоль/л)
					</div></div>
				</div>
				<div class="prezident__col">
					<div class="prezident__cell prezident__head-top"><div class="prezident__cell-wrapper">Для механического увеличения количества инсулина <span class="prezident__brackets">(непосредственно инсулин и его аналоги)</span></div></div>
					<div class="prezident__cell prezident__row2"><div class="prezident__cell-wrapper">
					Большее количество молекул инсулина – больше шансов на взаимодействие с клеткой
					</div></div>
					<div class="prezident__cell prezident__row3"><div class="prezident__cell-wrapper">
						<ul class="prezident__table-list">
							<li>
								<b>Очень быстро изнашивает поджелудочную, вызывая необратимые последствия</b>
							</li>
							<li>Вызывает аллергии</li>
							<li>Болезненный способ введения (уколы)</li>
							<li>Не избавляет от причины болезни</li>
						</ul>
					</div></div>
					<div class="prezident__cell prezident__cell-bottom prezident__row4"><div class="prezident__cell-wrapper">
						При диабете 2 типа наносит больше вреда, чем пользы
					</div></div>
				</div>
			</div>
		</div>
		<div class="prezident__man">
			<figure class="prezident__fig">
				<img class="prezident__img2" src="./img/prezident-man.jpg" alt="">
				<figcaption class="prezident__figcaption">
					<b>Джеймс Бьюз</b>
					Президент Американской Диабетической Ассоциации
				</figcaption>
			</figure>
			<div class="prezident__man-text">
				<p>
					<i>“В связи с тем, что диабет распространялся все быстрее, а лечение практически не помогало, нам срочно требовались новые методы 
					и технологии. Вот какой <b>выход</b> нашли ученые:</i>
				</p>
					
					<ul>
						<i>Нужно одновременно:
							<li><b>— снижать вес </b></li>
							<li><b>— восстанавливать чувствительность рецепторов к инсулину </b></li>
							<li><b>— питать истощенный организм необходимыми веществами</b></li>
						</i>
					</ul>
					<p>
						<i>Но при этом нужно минимизировать медикаментозную нагрузку.
						То есть, все это должен выполнять один препарат.</i>
					</p> 
					<p>
						<i>И наши технологии уже могут справиться с такой задачей!”</i>
					</p>
				</p>
			</div>
		</div>
    </div>
</section>