<section class="section research" id="research">
    <div class="wrapper">
        <div class="arrow arrow--grey">
            <a href="#research">
				<svg class="arrow__svg" version="1.1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
			 viewBox="0 0 30 17" style="enable-background:new 0 0 30 17;" xml:space="preserve">
		<style type="text/css">
			.bottom__arrow {
				fill: #FFFFFF;
			}
		</style>
		<g>
			<g transform="translate(-1266 -372)">
				<g>
					<path class="bottom__arrow" d="M1295.4,372.6c-0.4-0.4-0.8-0.6-1.3-0.6h-26.2c-0.5,0-0.9,0.2-1.3,0.6c-0.4,0.3-0.6,0.8-0.6,1.3
						c0,0.5,0.2,1,0.6,1.3l13.1,13.2c0.4,0.4,0.8,0.6,1.3,0.6c0.5,0,0.9-0.2,1.3-0.6l13.1-13.2c0.4-0.4,0.6-0.8,0.6-1.3
						C1296,373.4,1295.8,372.9,1295.4,372.6L1295.4,372.6z"/>
				</g>
			</g>
		</g>
		</svg>
			</a>
            <svg class="el__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 368 40" style="enable-background:new 0 0 368 40;" xml:space="preserve">
                <style type="text/css">
                .bottom__el {
                    fill: #E1E7EC;
                }
                </style>
                <g>
                    <g transform="translate(-1096 -372)">
                        <g>
                            <path class="bottom__el" d="M0,372h1465c-61.6,0-123.8,40-186,40c-61.5,0-123-40-184-40H0z" />
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <h2 class="research__title title">
			Исследование APDS 2017 года <br>
			показало эффективность <span class="text__blue">Diaprin</span>
		</h2>
        <h3 class="research__subtitle subtitle">
			при диабете на фоне лишнего веса

		</h3>
        <div class="research__heading">Процент пациентов, которые почувствовали улучшение в течение<br>
            <span class="text__blue">30 дней</span> исследования:</div>
        <div class="research-content">
            <div class="research-content_box">
                <div class="research-content_box__img">
                    <img src="img/research-apple.png" alt="apple">
                </div>
                 <div class="research-content_box__twobox">
                    <div class="research-content_box__head">Соблюдение диеты</div>
                    <div class="research-content_box__persent">21,2<span>%</span></div>
                </div>
                </div>
                <div class="research-content_box">
                    <div class="research-content_box__img2">
                        <img src="img/product__big.png" alt="pack">
                </div>
                 <div class="research-content_box__twobox">
                        <div class="research-content_box__head">Применение <span class="text__blue">Diaprin</span></div>
                        <div class="research-content_box__persent pyellow">73<span>%</span></div>
                    </div>
                    </div>
                    <div class="research-content_box">
                        <div class="research-content_box__img3">
                            <img src="img/product__big.png" alt="pack">
                            <img src="img/research-apple.png" alt="apple">
                </div>
                <div class="research-content_box__twobox">
                            <div class="research-content_box__head">Применение <span class="text__blue">Diaprin</span> + диеты</div>
                            <div class="research-content_box__persent pgreen">90,4<span>%</span></div>
                        </div>
                        </div>
                    </div>
                    <div class="research__heading research__heading2"><span class="text__blue">Diaprin</span> получил сертификаты качества<br> 
                        международного образца:
                    </div>
                    <div class="research-sertcontent">
                    	<img src="img/sert-1.png" alt="sert" class="research-sertcontent__img">
                    	<img class="imgser" src="img/sert-2.png" alt="sert" class="research-sertcontent__img">
                    	<img src="img/sert-3.png" alt="sert" class="research-sertcontent__img">
                    </div>
                </div>
</section>