<section class="section review bg__grey" id="review">
    <div class="wrapper">
        <div class="arrow arrow--white">
            <a href="#review">
                <svg class="arrow__svg" version="1.1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
             viewBox="0 0 30 17" style="enable-background:new 0 0 30 17;" xml:space="preserve">
        <style type="text/css">
            .bottom__arrow {
                fill: #FFFFFF;
            }
        </style>
        <g>
            <g transform="translate(-1266 -372)">
                <g>
                    <path class="bottom__arrow" d="M1295.4,372.6c-0.4-0.4-0.8-0.6-1.3-0.6h-26.2c-0.5,0-0.9,0.2-1.3,0.6c-0.4,0.3-0.6,0.8-0.6,1.3
                        c0,0.5,0.2,1,0.6,1.3l13.1,13.2c0.4,0.4,0.8,0.6,1.3,0.6c0.5,0,0.9-0.2,1.3-0.6l13.1-13.2c0.4-0.4,0.6-0.8,0.6-1.3
                        C1296,373.4,1295.8,372.9,1295.4,372.6L1295.4,372.6z"/>
                </g>
            </g>
        </g>
        </svg>
            </a>
            <svg class="el__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 368 40" style="enable-background:new 0 0 368 40;" xml:space="preserve">
                <style type="text/css">
                .bottom__el {
                    fill: #E1E7EC;
                }
                </style>
                <g>
                    <g transform="translate(-1096 -372)">
                        <g>
                            <path class="bottom__el" d="M0,372h1465c-61.6,0-123.8,40-186,40c-61.5,0-123-40-184-40H0z" />
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <h2 class="review__title title">
            Отзывы людей, которые использовали <span class="text__blue">Diaprin</span>
        </h2>
        <h3 class="review__subtitle subtitle">
            Вы сможете оставить свой отзыв, когда покупка будет подтверждена

        </h3>
        <div class="review-content" id="cont-rev">
            <div class="review-reviews">
                <div class="review-box">
                    <div class="review-box__img"><img src="img/ava1.png" alt="avatar"></div>
                    </div>
                    <div class="review-user">
                        <div class="review-user__name">Вера Рублева</div>
                        <div class="review-user-box">
                            <div class="review-user__rtitle">Оценка товара</div>
                            <ul class="review-user__rating">
                                <li class="star-current" style="width: 80%"><span></span></li>
                                <li><span></span></li>
                                <li><span></span></li>
                                <li><span></span></li>
                                <li><span></span></li>
                            </ul>
                        </div>
                        <div class="review-user__text">
                            Вкусное, не противное, я даже привыкла его пить. Жаль, что курс закончился ))
                        </div>
                    </div>
                </div>
                <div class="review-reviews">
                    <div class="review-box">
                        <div class="review-box__img"><img src="img/ava2.png" alt="avatar"></div>
                        </div>
                        <div class="review-user">
                            <div class="review-user__name">Константин З.</div>
                            <div class="review-user-box">
                                <div class="review-user__rtitle">Оценка товара</div>
                                <ul class="review-user__rating">
                                    <li class="star-current" style="width: 100%"><span></span></li>
                                    <li><span></span></li>
                                    <li><span></span></li>
                                    <li><span></span></li>
                                    <li><span></span></li>
                                </ul>
                            </div>
                            <div class="review-user__text">
                                Не за неделю, конечно, но где-то за 2 я стал чувствовать себя неплохо.
                            </div>
                        </div>
                    </div>
                    <div class="review-reviews">
                        <div class="review-box">
                            <div class="review-box__img"><img src="img/ava3.png" alt="avatar"></div>
                            </div>
                            <div class="review-user">
                                <div class="review-user__name">Катеринка</div>
                                <div class="review-user-box">
                                    <div class="review-user__rtitle">Оценка товара</div>
                                    <ul class="review-user__rating">
                                        <li class="star-current" style="width: 80%"><span></span></li>
                                        <li><span></span></li>
                                        <li><span></span></li>
                                        <li><span></span></li>
                                        <li><span></span></li>
                                    </ul>
                                </div>
                                <div class="review-user__text">
                                    Вес у меня был большой, около 80-ти килограмм, отсюда и диабет взялся. Диаприн мне посоветовал знакомый врач, как хорошую альтернативу дорогим аптечным препаратам.
                                    Я теперь и про инсулин забыла, настолько теперь всё в норме. Не нравится только, что все равно после курса нужно сидеть на диете.
                                </div>
                            </div>
                        </div>
                        <div class="review-reviews">
                            <div class="review-box">
                                <div class="review-box__img"><img src="img/ava4.png" alt="avatar"></div>
                                </div>
                                <div class="review-user">
                                    <div class="review-user__name">Ирина</div>
                                    <div class="review-user-box">
                                        <div class="review-user__rtitle">Оценка товара</div>
                                        <ul class="review-user__rating">
                                            <li class="star-current" style="width: 100%"><span></span></li>
                                            <li><span></span></li>
                                            <li><span></span></li>
                                            <li><span></span></li>
                                            <li><span></span></li>
                                        </ul>
                                    </div>
                                    <div class="review-user__text">
                                        <p>Добрый день. Меня зовут Ирина, проживаю в городе Кемерово. Моей маме 51, и ей поставили диагноз сахарный диабет 2 типа.
                                            Врачи выписали ей таблетки, но мама всё равно чувствовала себя плохо: слабость была, зрение резко упало. Никогда не видела её такой изможденной.</p>
                                        <p>И я его нашла в интернете. Диаприн. Мама сначала говорила, что это развод, и что не верит американским технологиям, и разве можно в интернете лекарства заказывать. Но я считаю, что аптека ничем не лучше. </p>
                                        <p>И вот мама принимает его уже месяц и благодарит меня. Её состояние значительно улучшилось, она стала намного живее. Меряем после еды сахар, и он уже не скачет. Очень радуюсь, что с мамой теперь всё хорошо.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="review-reviews">
                                <div class="review-box">
                                    <div class="review-box__img"><img src="img/ava5.png" alt="avatar"></div>
                                    </div>
                                    <div class="review-user">
                                        <div class="review-user__name">Max</div>
                                        <div class="review-user-box">
                                            <div class="review-user__rtitle">Оценка товара</div>
                                            <ul class="review-user__rating">
                                                <li class="star-current" style="width: 80%"><span></span></li>
                                                <li><span></span></li>
                                                <li><span></span></li>
                                                <li><span></span></li>
                                                <li><span></span></li>
                                            </ul>
                                        </div>
                                        <div class="review-user__text">
                                            <p> Помню свою бабушку с сахарным диабетом, которая из-за этого еле ходила и скончалась
                                                от инсульта. И когда мне диабет диагностировали, я подумал, что меня ждет то же самое. </p>
                                            <p>Самое сложное было придерживаться диеты с моим интенсивным ритмом жизни, мне вообще сложно нормально питаться а тут ещё и столько всего пришлось исключить. но врач сказал что это не шутки. и если я буду срываться с диеты и не принимать препараты, то слягу. Хорошо, что нашел Диаприн. работает аж на молекулярном уровне. Я его заказал и начал принимать.</p>
                                            <p>И так я пришел в норму. Сахар выровнялся и вес стал стабильным. Сейчас я чувствую себя вполне здоровым но Диаприн до сих продолжаю принимать.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-reviews">
                                    <div class="review-box">
                                        <div class="review-box__img"><img src="img/ava6.png" alt="avatar"></div>
                                        </div>
                                        <div class="review-user">
                                            <div class="review-user__name">Marinka</div>
                                            <div class="review-user-box">
                                                <div class="review-user__rtitle">Оценка товара</div>
                                                <ul class="review-user__rating">
                                                    <li class="star-current" style="width: 100%"><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                </ul>
                                            </div>
                                            <div class="review-user__text">
                                                О том, что у меня диабет, я узнала самым удивительным образом - просто прошла тестик
                                                в интернете. Я сначала не поверила, но кровь на сахар сдала. И диагноз подтвердился! Переживала, страх. Он же фактически не лечится. Но моя подруга фармацевт посоветовала мне попробовать препарат Диаприн, чтобы сахар держался в норме. И помогло, я могу больше не нервничать, слава тебе господи. И вес даже снизился!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review-reviews">
                                        <div class="review-box">
                                            <div class="review-box__img"><img src="img/ava7.png" alt="avatar"></div>
                                            </div>
                                            <div class="review-user">
                                                <div class="review-user__name">Александр</div>
                                                <div class="review-user-box">
                                                    <div class="review-user__rtitle">Оценка товара</div>
                                                    <ul class="review-user__rating">
                                                        <li class="star-current" style="width: 80%"><span></span></li>
                                                        <li><span></span></li>
                                                        <li><span></span></li>
                                                        <li><span></span></li>
                                                        <li><span></span></li>
                                                    </ul>
                                                </div>
                                                <div class="review-user__text">
                                                    Попал в больницу с улицы — оказалось, диабетическая кома, сахар был 19. Кололи инсулином, потом жена забрала из больницы. Врачи пугали: у вас пять смертельных диагнозов. Полгода сам занимался йогой, но без особого успеха. Уже потом мне объяснили, что питание по йоге при диабете противопоказано… По сути спас меня Диаприн. Почитал про технологии, по которым его делают, и впечатлился. Когда начал принимать сахар стабилизировался и начал себя чувствовать, как до диабета. Но хоть и теперь все нормально, все равно продолжаю принимать средство это курсами.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-reviews">
                                            <div class="review-box">
                                                <div class="review-box__img"><img src="img/ava8.png" alt="avatar"></div>
                                                </div>
                                                <div class="review-user">
                                                    <div class="review-user__name">Мария Николаевна</div>
                                                    <div class="review-user-box">
                                                        <div class="review-user__rtitle">Оценка товара</div>
                                                        <ul class="review-user__rating">
                                                            <li class="star-current" style="width: 100%"><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                            <li><span></span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="review-user__text">
                                                        <p>Когда у моего десятилетнего сына диагностировали диабет, я была просто в ужасе. И больше всего поразило какое-то равнодушие врачей: ну, не помогает полтаблетки — пейте целую, потом две, потом три — и ничего больше, какая-то обреченность… Только стращают осложнениями, но не дают никакой надежды.</p>
                                                        <p>Спасибо интернету - там мы нашли Диаприн, и только он нам и помог. Разводим этот порошок в стакане теплой воды через полчаса после обеда. Каждый раз внимательно контролирую, чтобы сын выпил сразу же и не тянул. Сахар у сына выровнялся, и я уже почти не нервничаю.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="review-reviews">
                                                <div class="review-box">
                                                    <div class="review-box__img"><img src="img/ava9.png" alt="avatar"></div>
                                                    </div>
                                                    <div class="review-user">
                                                        <div class="review-user__name">Радион</div>
                                                        <div class="review-user-box">
                                                            <div class="review-user__rtitle">Оценка товара</div>
                                                            <ul class="review-user__rating">
                                                                <li class="star-current" style="width: 80%"><span></span></li>
                                                                <li><span></span></li>
                                                                <li><span></span></li>
                                                                <li><span></span></li>
                                                                <li><span></span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="review-user__text">
                                                            Прохожу переодически курсами, класный препарат. И вес снижает хорошо. Правда не нравиться то, что его нельзя купить в аптеке и нужно заказывать в интернете каждый раз.
                                                            Ну хоть вкусный.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="review-reviews">
                                                    <div class="review-box">
                                                        <div class="review-box__img"><img src="img/ava10.png" alt="avatar"></div>
                                                        </div>
                                                        <div class="review-user">
                                                            <div class="review-user__name">Kostya</div>
                                                            <div class="review-user-box">
                                                                <div class="review-user__rtitle">Оценка товара</div>
                                                                <ul class="review-user__rating">
                                                                    <li class="star-current" style="width: 100%"><span></span></li>
                                                                    <li><span></span></li>
                                                                    <li><span></span></li>
                                                                    <li><span></span></li>
                                                                    <li><span></span></li>
                                                                </ul>
                                                            </div>
                                                            <div class="review-user__text">
                                                                У меня пересыхало в горле. По этому поводу я и пришел в поликлинику. Взяли кровь на сахар. Результат был 12,5 и 12,7 при норме 4–5,5. Отправили в больницу на 21 день. Там мне кололи инсулин, потом перевели на таблетки. После выписки жизнь меня ждала безрадостная. Постоянный контроль питания, строгая диета. Не есть хлеб, картошку и многое другое.
                                                                И постоянный прием таблеток. Однако, благодаря Диаприну стало не то, что легче, я как будто вылечился от диабета.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="review-reviews">
                                                        <div class="review-box">
                                                            <div class="review-box__img"><img src="img/ava11.png" alt="avatar"></div>
                                                            </div>
                                                            <div class="review-user">
                                                                <div class="review-user__name">Ольга</div>
                                                                <div class="review-user-box">
                                                                    <div class="review-user__rtitle">Оценка товара</div>
                                                                    <ul class="review-user__rating">
                                                                        <li class="star-current" style="width: 80%"><span></span></li>
                                                                        <li><span></span></li>
                                                                        <li><span></span></li>
                                                                        <li><span></span></li>
                                                                        <li><span></span></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="review-user__text">
                                                                    Хороший препарат, американские технологии рулят! Когда у меня диагностировали диабет
                                                                    им и начала лечиться, и очень довольна, сахар постоянно держится в норме. Заказываю
                                                                    на официальном сайте, приходит без задержек.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="review-reviews">
                                                            <div class="review-box">
                                                                <div class="review-box__img"><img src="img/ava12.png" alt="avatar"></div>
                                                                </div>
                                                                <div class="review-user">
                                                                    <div class="review-user__name">Larisa</div>
                                                                    <div class="review-user-box">
                                                                        <div class="review-user__rtitle">Оценка товара</div>
                                                                        <ul class="review-user__rating">
                                                                            <li class="star-current" style="width: 100%"><span></span></li>
                                                                            <li><span></span></li>
                                                                            <li><span></span></li>
                                                                            <li><span></span></li>
                                                                            <li><span></span></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="review-user__text">
                                                                        Средство мне подошло, в отличии от всяких таблеток из аптеки помогли мне справиться
                                                                        с диабетом. Теперь могу более-менее не переживать из-за скачков сахара. Но аллергия
                                                                        на цитрусовые у меня как была, так и осталась(
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="review-reviews">
                                                                <div class="review-box">
                                                                    <div class="review-box__img"><img src="img/ava13.png" alt="avatar"></div>
                                                                    </div>
                                                                    <div class="review-user">
                                                                        <div class="review-user__name">Елена</div>
                                                                        <div class="review-user-box">
                                                                            <div class="review-user__rtitle">Оценка товара</div>
                                                                            <ul class="review-user__rating">
                                                                                <li class="star-current" style="width: 80%"><span></span></li>
                                                                                <li><span></span></li>
                                                                                <li><span></span></li>
                                                                                <li><span></span></li>
                                                                                <li><span></span></li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="review-user__text">
                                                                           Спасибо. Стала чувствовать себя лучше.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="review-btn">
                                                                <a href="#cont-rev" class="review-btn__list gorev review-btn__list2">еще отзывы (13)</a>
                                                                <div class="review-btn__leave">Оставить отзыв</div>
                                                            </div>
                                                        </div>
</section>
<div class="review-popup">
    <div class="add-review">
        <div class="add-review__close"></div>
        <div class="add-review__title">Оставить отзыв</div>
        <form class="add-review__form">
            <div class="form__field form__field--name">
                <input type="text" class="form__field--input input__val-1" name="name" required="" autocomplete="name" placeholder="Ваше имя">
            </div>
            <div class="form__field form__field--tel">
                <input type="tel" class="form__field--input input__val-2" name="phone" required="" autocomplete="tel" placeholder="Ваш телефон">
            </div>
            <div class="review-user-box ">
                <div class="review-user__rtitle">Поставьте оценку препарату</div>
                <ul class="review-user__rating review-user__ratingAdd">
                    <li class="star-current add_star-current add_star-current1"><span class="star1" title="Плохо"></span></li>
                    <li><span class="star2" title="Приемлемо"></span></li>
                    <li><span class="star3" title="Средне"></span></li>
                    <li><span class="star4" title="Хорошо"></span></li>
                    <li><span class="star5" title="Отлично"></span></li>
                </ul>
            </div>
            <div class="form__field form__field--text">
                <input type="text" class="form__field--input input__val-3" name="text" required="" placeholder="Текст отзыва...">
            </div>
            <div class="add-review__btn">Добавить отзыв</div>
        </form>
    </div>
</div>
<div class="review-popup_last">
    <div class="review-popup_last__content">
        <div class="review-popup_last__close"></div>
        <p class="review-popup_last__title">Отзыв отправлен на модерацию. Спасибо!</p>
        <p class="review-popup_last__p">Нецензурная лексика или реклама будут удалены.</p>
    </div>
</div>
