<section class="section shock">
    <div class="wrapper">
        <div class="shock__content">
            <div class="shock__img">
                <img src="img/shock-img.png" alt="foto" class="shock__img-foto">
            </div>
            <div class="shock__des">
                <h2 class="shock__title">
                    Шок!
                </h2>




                <p class="shock__text shock__text--f">
                    В 2018 году<img src="img/shock-img-small.png" alt="" class="shock__text--img"><span class="shock__blue">Международной ассоциацией паразитологов</span>
                    было&nbsp;проведено исследование.
                </p>
                <p class="shock__text shock__text--s">
                    Были взяты анализы с&nbsp;поверхностей мобильных телефонов
                    2&nbsp;470 случайных прохожих.
                </p>
                <p class="shock__text shock__text--t shock__text--grey">
                    Лабораторное исследование выявило на&nbsp;поверхности каждого телефона яйца <span class="shock__red">более 30 видов глистов!</span>
                </p>
            </div>
        </div>

    </div>
</section>