<section class="section stat section-white">
    <div class="wrapper">
        <h2 class="title stat__title">
            Статистика ВОЗ: <br>
            Более 75% серьезных заболеваний человека <br>
            вызваны паразитами
        </h2>
        <div class="stat__content">
            <div class="stat__item stat__item--mt">
                <div class="stat__item-front">
                    <div class="stat__item-img">
                        <div class="stat__item-wrap">
                            <img src="img/stat__img-1.jpg" alt="img" class="stat__item-foto">
                            <span class="stat__item-el">!</span>
                        </div>
                        <p class="stat__item-text">
                            <span class="stat__item-text-wrap">
                                Инфаркты, инсульты,
                                болезни сердечно-сосудистой системы, одышка
                            </span>
                        </p>
                    </div>
                    <p class="stat__item-open">
                        Посмотреть, какие паразиты
                        вызывают болезнь
                    </p>
                </div>
                <div class="stat__item-back">
                    <img src="img/stat__img-11.jpg" alt="img" class="stat__item-parasite">
                    <p class="stat__item-des">
                        Аскариды, кривоголовка
                    </p>
                </div>
            </div>
            <div class="stat__item">
                <div class="stat__item-front">
                    <div class="stat__item-img">
                        <div class="stat__item-wrap">
                            <img src="img/stat__img-2.jpg" alt="img" class="stat__item-foto">
                            <span class="stat__item-el">!</span>
                        </div>
                        <p class="stat__item-text">
                            <span class="stat__item-text-wrap">
                                Язва кишечника,
                            нарушения пищеварения,
                            гастриты
                            </span>
                        </p>
                    </div>
                    <p class="stat__item-open">
                        Посмотреть, какие паразиты
                        вызывают болезнь
                    </p>
                </div>
                <div class="stat__item-back">
                    <img src="img/stat__img-21.jpg" alt="img" class="stat__item-parasite">
                    <p class="stat__item-des">
                        Власоглавы, нематоды
                    </p>
                </div>
            </div>
            <div class="stat__item stat__item--mt">
                <div class="stat__item-front">
                    <div class="stat__item-img">
                        <div class="stat__item-wrap">
                            <img src="img/stat__img-3.jpg" alt="img" class="stat__item-foto">
                            <span class="stat__item-el">!</span>
                        </div>
                        <p class="stat__item-text">
                            <span class="stat__item-text-wrap">
                                Воспаление легких,
                            воспаления сосудов,
                            аппендицит
                            </span>
                        </p>
                    </div>
                    <p class="stat__item-open">
                        Посмотреть, какие паразиты
                        вызывают болезнь
                    </p>
                </div>
                <div class="stat__item-back">
                    <img src="img/stat__img-31.jpg" alt="img" class="stat__item-parasite">
                    <p class="stat__item-des">
                        Филярии, острицы, аскариды
                    </p>
                </div>
            </div>
            <div class="stat__item stat__item--mt1">
                <div class="stat__item-front">
                    <div class="stat__item-img">
                        <div class="stat__item-wrap">
                            <img src="img/stat__img-4.jpg" alt="img" class="stat__item-foto">
                            <span class="stat__item-el">!</span>
                        </div>
                        <p class="stat__item-text">
                            <span class="stat__item-text-wrap">
                                Злокачественные опухоли,
                            разрастание тканей
                            </span>
                        </p>
                    </div>
                    <p class="stat__item-open">
                        Посмотреть, какие паразиты
                        вызывают болезнь
                    </p>
                </div>
                <div class="stat__item-back">
                    <img src="img/stat__img-41.jpg" alt="img" class="stat__item-parasite">
                    <p class="stat__item-des">
                        Шистосомы, власоглавы
                    </p>
                </div>
            </div>
            <div class="stat__item ">
                <div class="stat__item-front">
                    <div class="stat__item-img">
                        <div class="stat__item-wrap">
                            <img src="img/stat__img-5.jpg" alt="img" class="stat__item-foto">
                            <span class="stat__item-el">!</span>
                        </div>
                        <p class="stat__item-text">
                            <span class="stat__item-text-wrap">
                                                            Диарея, запоры
                            </span>
                        </p>
                    </div>
                    <p class="stat__item-open">
                        Посмотреть, какие паразиты
                        вызывают болезнь
                    </p>
                </div>
                <div class="stat__item-back">
                    <img src="img/stat__img-51.jpg" alt="img" class="stat__item-parasite">
                    <p class="stat__item-des">
                        Кривоголовка, ленточные черви
                    </p>
                </div>
            </div>
            <div class="stat__item stat__item--mt1">
                <div class="stat__item-front">
                    <div class="stat__item-img">
                        <div class="stat__item-wrap">
                            <img src="img/stat__img-6.jpg" alt="img" class="stat__item-foto">
                            <span class="stat__item-el">!</span>
                        </div>
                        <p class="stat__item-text">
                            <span class="stat__item-text-wrap">
                                Болезни женской
                            репродуктивной системы, опухоли
                            и импотенция у мужчин
                            </span>
                        </p>
                    </div>
                    <p class="stat__item-open">
                        Посмотреть, какие паразиты
                        вызывают болезнь
                    </p>
                </div>
                <div class="stat__item-back">
                    <img src="img/stat__img-61.jpg" alt="img" class="stat__item-parasite">
                    <p class="stat__item-des">
                        Острицы, шистосомы
                    </p>
                </div>
            </div>
        </div>
        <h3 class="stat__subtitle">
            Единственный способ избавиться от болезней —
            устранить причину их появления
        </h3>
    </div>
</section>