<section class="section technology bg__grey" id="technology">
    <div class="wrapper">
        <div class="arrow arrow--white">
			<a href="#technology">
				<svg class="arrow__svg" version="1.1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
			 viewBox="0 0 30 17" style="enable-background:new 0 0 30 17;" xml:space="preserve">
		<style type="text/css">
			.bottom__arrow {
				fill: #FFFFFF;
			}
		</style>
		<g>
			<g transform="translate(-1266 -372)">
				<g>
					<path class="bottom__arrow" d="M1295.4,372.6c-0.4-0.4-0.8-0.6-1.3-0.6h-26.2c-0.5,0-0.9,0.2-1.3,0.6c-0.4,0.3-0.6,0.8-0.6,1.3
						c0,0.5,0.2,1,0.6,1.3l13.1,13.2c0.4,0.4,0.8,0.6,1.3,0.6c0.5,0,0.9-0.2,1.3-0.6l13.1-13.2c0.4-0.4,0.6-0.8,0.6-1.3
						C1296,373.4,1295.8,372.9,1295.4,372.6L1295.4,372.6z"/>
				</g>
			</g>
		</g>
		</svg>
			</a>

        <svg class="el__svg" version="1.1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
			 viewBox="0 0 368 40" style="enable-background:new 0 0 368 40;" xml:space="preserve">
		<style type="text/css">
			.bottom__el {
                fill: #E1E7EC;
            }
		</style>
		<g>
			<g transform="translate(-1096 -372)">
				<g>
					<path class="bottom__el" d="M0,372h1465c-61.6,0-123.8,40-186,40c-61.5,0-123-40-184-40H0z"/>
				</g>
			</g>
		</g>
		</svg>


        </div>
        <h2 class="technology__title title">
			<span class="text__blue">Diaprin</span> — передовая американская технология,
		</h2>
		<h3 class="technology__subtitle subtitle">
			для снижения веса и восстановления здоровья при диабете
		</h3>
		<div class="technology__flex">
			<div class="technology__item">
				<div class="technology__marker technology__marker-1">
					<div class="technology__round">
						<div class="technology__days">
							<span>1</span>
							<span>день</span>
						</div>
					</div>
				</div>
				<p class="technology__feel">Вы не испытываете неконтролируемые голод <span class="ib">и жажду</span></p>
				<div class="technology__improv technology__improv-1">
					<p>
						<span class="technology__improv-head">Запускается процесс <span class="ib">снижения веса</span> </span>
						В клетке активируется процесс повышения чувствительности <span class="ib">к инсулину</span>
					</p>
				</div>
			</div>
			<div class="technology__item">
				<div class="technology__marker technology__marker-2">
					<div class="technology__round">
						<div class="technology__days">
							<span>10</span>
							<span>дней</span>
						</div>
					</div>
				</div>
				<p class="technology__feel">Проходит постоянная усталость, улучшается состояние кожи, прекращаются перепады настроения. Вы полны энергии</p>
				<div class="technology__improv">
					<p>
						<span class="technology__improv-head">Жировая оболочка клеток уменьшается на 15-20% </span>
						Инсулин правильно взаимодействует с клеткой <span class="ib">на 10% чаще</span>
					</p>
				</div>
			</div>
			<div class="technology__item">
				<div class="technology__marker technology__marker-3">
					<div class="technology__round">
						<div class="technology__days">
							<span>20</span>
							<span>дней</span>
						</div>
					</div>
				</div>
				<p class="technology__feel">Давление нормализуется, проходят учащенные <span class="ib">позывы к мочеиспусканию.</span>  Хорошее самочувствие становится вашей нормой</p>
				<div class="technology__improv">
					<p>
						<span class="technology__improv-head">Жировая оболочка клеток уменьшается на 35-50% </span>
						Инсулин правильно взаимодействует с клеткой <span class="ib">на 30-40% чаще</span>
					</p>
				</div>
			</div>
			<div class="technology__item">
				<div class="technology__marker technology__marker-4">
					<div class="technology__round">
						<div class="technology__days">
							<span>30</span>
							<span>дней</span>
						</div>
					</div>
				</div>
				<p class="technology__feel">Проходят онемения конечностей, улучшается зрение. Вы ведете полноценную жизнь без оглядки на болезнь</p>
				<div class="technology__improv">
					<p>
						<span class="technology__improv-head">Жировая оболочка клеток уменьшается на 60-80%. Вес снижается на 5-15 кг, уровень сахара стабилизируется</span>
						Инсулин правильно взаимодействует с клеткой <span class="ib">на 50-70% чаще</span>
					</p>
				</div>
			</div>
			<div class="technology__chart">
				<div class="technology__img">
					<img src="./img/technology-chart.png" alt="">
				</div>
			</div>
			<!-- <div class="technology__improv technology__improv-1">
				<p>
					<span class="technology__improv-head">Запускается процесс <span class="ib">снижения веса</span> </span>
					В клетке активируется процесс повышения чувствительности <span class="ib">к инсулину</span>
				</p>
			</div> -->
			<!-- <div class="technology__improv">
				<p>
					<span class="technology__improv-head">Жировая оболочка клеток уменьшается на 15-20% </span>
					Инсулин правильно взаимодействует с клеткой <span class="ib">на 10% чаще</span>
				</p>
			</div> -->
			<!-- <div class="technology__improv">
				<p>
					<span class="technology__improv-head">Жировая оболочка клеток уменьшается на 35-50% </span>
					Инсулин правильно взаимодействует с клеткой <span class="ib">на 30-40% чаще</span>
				</p>
			</div> -->
			<!-- <div class="technology__improv">
				<p>
					<span class="technology__improv-head">Жировая оболочка клеток уменьшается на м60-80%. Вес снижается на 5-15 кг, уровень сахара стабилизируется</span>
					Инсулин правильно взаимодействует с клеткой <span class="ib">на 50-70% чаще</span>
				</p>
			</div> -->
		</div>
    </div>
</section>
<section class="section technology__form bg__dark-grey">
	<div class="wrapper">
		<div class="technology__form-flex">
			<div class="technology__prod">
				<img class="technology__prod-big" src="./img/product__big.png" alt="">
				<img class="technology__prod-small" src="./img/product__small.png" alt="">
			</div>
			<div class="technology__form-right">
				<p>Как к вам обращаться?</p>
				<form class="technology__input-list x_order_form" action="/submit" method="post">
					<div class="form__field form__field--name">
	                    <input type="text" class="form__field--input" name="name" required="" autocomplete="name" placeholder="Моё имя">
	                </div>
	            	
	                <div class="form__field form__field--tel">
	                    <input type="tel" class="form__field--input" name="phone" required="" autocomplete="tel" placeholder="Мой телефон">
	                </div>
	                <button class="btn" type="submit">
	                    <span class="btn__text-f">
	                        Забронировать
	                    </span>
	                    <span class="btn__text-s">
	                        скидку
	                    </span>
	                </button>
				</form>
			</div>
		</div>
	</div>
</section>