.consist {

}

@media screen and (max-width: 1190px) {
  .consist {

  }
}

@media screen and (max-width: 1023px) {
  .consist {

  }
}

@media screen and (max-width: 767px) {
  .consist {

  }
}

@media screen and (max-width: 639px) {
  .consist {

  }
}