.form {
  width: 270px;
  box-shadow: 0 0 35px rgba(134, 147, 162, 0.25);
  border-radius: 10px;
  border: 4px solid $dark-green;
  background-color: #ffffff;
  position: relative;
  z-index: 4;
  &::before {
    content: '';
    position: absolute;
    width: 53px;
    height: 294px;
    background-image: url('../img/arrow-form.svg');
    background-repeat: no-repeat;
    top: 138px;
    right: -40px;
  }
  &__wrap {
    width: 100%;
    overflow: hidden;
  }
  &__top {
    background-color: #ecf3f9;
    padding-top: 19px;
    margin-bottom: 39px;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  &__title {
    text-align: center;
    color: #000000;
    font-size: 23px;
    font-weight: 500;
    line-height: 23px;
    &--green {
      font-size: 24px;
      color: #fd7532;
      font-weight: 700;
      line-height: 26px;
    }
  }
  &__price {
    margin-top: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__old-price {
    width: 50%;
    padding-left: 19px;
    padding-right: 9px;
    border-right: 1px solid rgba(209, 208, 208, 0.6);
    &--title {
      color: #666666;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
    }
    &--num {
      color: #a2a1a1;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin-top: 13px;
    }
    &--cross {
      position: relative;
      font-size: 28px;
      &::after,
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #f01d07;
        left: 0;
        bottom: 15px;
      }
      &::after {
        transform: rotate(18deg);
      }
      &::before {
        transform: rotate(-18deg);
      }
    }
  }
  &__new-price {
    width: 50%;
    padding-left: 12px;
    padding-right: 10px;
    &--title {
      color: #30302f;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
    }
    &--num {
      color: #fd7532;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin-top: 10px;
    }
    &--cross {
      font-weight: 700;
      font-size: 44px;
    }
  }
  &__content {
    width: 100%;
    padding-right: 21px;
    padding-left: 21px;
    &--title {
      margin-top: 14px;
      margin-bottom: 11px;
      text-align: center;
      color: #333333;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
    }
  }
  &__field {
    width: 100%;
    height: 58px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 16px;
    &--input {
      outline: none;
      padding-left: 52px;
      width: 100%;
      height: 100%;
      box-shadow: inset 2px 3px 5px rgba(34, 35, 39, 0.09);
      border-radius: 5px;
      border: 1px solid #dedddd;
      background-color: #ffffff;
      color: #666666;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      transition: .3s;
      &:hover,
      &:focus {
        box-shadow: inset 2px 3px 5px rgba(34, 35, 39, 0.3);
      }
    }
    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center center;
    }
    &--name::before {
      width: 19px;
      height: 23px;
      background-image: url('../img/name.svg');
      top: 16px;
      left: 21px;
    }
    &--tel::before {
      width: 21px;
      height: 24px;
      background-image: url('../img/tel.svg');
      top: 18px;
      left: 20px;
    }
  }
  &__star {
    display: block;
    font-size: 14px;
    line-height: 1;
    color: rgba(31, 31, 31, 0.7);
    margin-top: 13px;
    text-align: center;
  }
  &__lastpacks {
    position: relative;
    text-align: center;
    color: #000000;
    font-size: 16px;
    line-height: 16.52px;
    font-weight: 500;
    margin-top: 8px;
    &--green {
      color: #e46324;
    }
  }
  &__lastpacks:after {
    content: "";
    z-index: -1;
    width: 210px;
    height: 70px;
    left: 22px;
    bottom: -22px;
    background-color: #ecf3f9;
    position: absolute;
    transform: rotate(10deg) skew(-70deg, 0deg);
  }
  &__delivery {
    width: 100%;
    box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    padding-top: 12px;
    padding-bottom: 14px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    &--img {
      margin-right: 8px;
    }
    &--text {
      color: #1f1f1f;
      font-size: 15px;
      font-weight: 400;
      line-height: 16.52px;
    }
  }
}
.btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 27px;
  width: 100%;
  height: 70px;
  outline: none;
  border-radius: 5px;
  background-color: #ffffff;
  background-image: linear-gradient(to right, #fd7532 0%, #fb905c 51%, #fd7532 100%);
  border: none;
  border-bottom: 5px solid #e46324;
  box-shadow: 0px 7px 20px 0px rgba(228, 99, 36, 0.2);
  &__text-f {
    line-height: 23px;
  }
  &__text-s {
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
  }
  &:hover {
    background-image: linear-gradient(to right, #fd4f32 0%, #fb7d5c 51%, #fd4f32 100%);
    border-bottom-color: #e44824;
  }
  &:active {
    border-bottom: none;
  }
}