.header {
  padding-top: 30px;
  background-image: url('../img/header__bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
    &__top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 2;
    }
  &__logo {
    color: $color-blue;
    font-size: 54px;
    line-height: 50px;
    &::after {
      content: 'Diaprin';
      position: absolute;
      top: 13px;
      left: 18px;
      text-shadow: 3px 12px 22px rgba(136, 146, 183, 0.15);
      color: #ffffff;
      font-size: 70px;
      font-weight: 500;
      line-height: 50px;
      z-index: -1;
    }
  }
  &__nav {
    width: auto;
    display: flex;
  }
  &__itm {
    width: auto;
    display: flex;
    align-items: center;
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
    &--ico {
      flex-shrink: 0;
      margin-right: 21px;
    }
    &--1 {
      & .header__itm--ico {
        margin-right: 15px;
      }
    }
    &--link {
      color: #696f92;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      border-bottom: 1px dotted #9599b2;
      transition: .5s;
      &:hover {
        border-bottom: 1px dotted transparent;
        transition: .5s;
      }
    }
  }
  &__content {
    width: 100%;
    padding-top: 55px;
    display: flex;
    padding-bottom: 39px;
    justify-content: space-between;
    background-image: url('../img/header__woman.png');
    background-repeat: no-repeat;
    background-position: right 64px bottom -308px;
  }
  &__des {
    width: 470px;
    margin-top: 8px;
  }
  &__main-title {
    color: #333640;
    font-size: 62px;
    font-weight: 700;
    line-height: 60px;
    &--small {
      display: block;
      margin-top: 8px;
      font-size: 44px;
      line-height: 1;
      &-red {
        color: #f57373;
      }
    }
  }
  &__adv {
    width: 100%;
    margin-top: 45px;
  }
  &__item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
    &--el {
      display: block;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      border: 5px solid #9dd534;
      background-color: #fff;
      margin-top: 3px;
      margin-right: 16px;
    }
  }
  &__text {
    color: #3c3f52;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    &--small {
      display: block;
      margin-top: 7px;
      color: $color-blue;
      font-size: 20px;
      font-weight: 500;
    }
  }
  &__prod {
    width: 430px;
    position: relative;
    &--small {
      position: absolute;
      bottom: -196px;
      left: -156px;
      z-index: 3;
    }
    &--big {
      position: absolute;
      bottom: -161px;
      left: -28px;
      z-index: 2;
    }
  }
 }

@media screen and (max-width: 1260px) {
  .header {
    & .form::before {
      display: none;
    }
  }
}

@media screen and (max-width: 1190px) {
  .header {
    &__logo {
      font-size: 44px;
      margin-right: 40px;
      &::after {
        left: 5px;
        font-size: 50px;
      }
    }
    &__itm {
      margin-right: 10px;
      &--link {
        font-size: 14px;
      }
      &--ico {
        margin-right: 10px;
      }
      &--1 {
        & .header__itm--ico {
          margin-right: 10px;
        }
      }
      br {
        display: none;
      }
    }
    &__content {
      padding-top: 30px;
      background-size: 660px;
      background-position: right 105px bottom -245px;
    }
    &__main-title {
      font-size: 50px;
      line-height: 1;
      &--small {
        font-size: 40px;
      }
    }
    &__adv {
      margin-top: 30px;
    }
    &__prod {
      &--small {
        width: 206px;
        bottom: -125px;
        left: -135px;
      }
      &--big {
        width: 365px;
        bottom: -100px;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .header {
    &__top {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__logo {
      margin-right: 0;
      &::after {
        display: none;
      }
    }
    &__itm {
      &--ico {
        margin-right: 5px;
      }
      &--1 {
        & .header__itm--ico {
          margin-right: 5px;
        }
      }
    }
    &__content {
      background-size: 640px;
      flex-wrap: wrap;
      padding-bottom: 30px;
      background-position: right 105px bottom -235px;
    }
    &__des {
      width: 100%;
      margin-top: 0;
    }
    &__main-title {
      font-size: 40px;
      text-align: center;
      &--small {
        font-size: 34px;
      }
      & br {
        display: none;
      }
    }
    &__adv {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }
    &__item {
      width: 235px;
      &--el {
        width: 15px;
        height: 15px;
        border-width: 4px;
        flex-shrink: 0;
        margin-right: 10px;
      }
    }
    &__text {
      font-size: 22px;
      &--small {
        font-size: 18px;
      }
      & br {
        display: none;
      }
    }
    &__prod {
      width: calc(100% - 270px);
      &--big {
        left: auto;
        right: 20px;
        width: 325px;
        bottom: -55px;
      }
      &--small {
        width: 165px;
        bottom: -55px;
        left: 40px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    &__nav {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__itm {
      width: 300px;
      margin-top: 20px;
      margin-right: 0;
    }
    &__main-title {
      font-size: 32px;
      &--small {
        font-size: 26px;
      }
    }
    &__content {
      background-image: none;
    }
    &__prod {
      display: flex;
      align-items: center;
      justify-content: center;
      &--big {
        position: static;
        width: 285px;
        margin-right: 20px;
      }
      &--small {
        margin-top: 40px;
        margin-right: -70px;
        width: 125px;
        position: static;
      }
    }
  }
}

@media screen and (max-width: 639px) {
  .header {
    padding-top: 10px;
    &__nav {
      display: none;
    }
    &__content {
      padding-top: 0px;
      justify-content: space-around;
    }
    &__main-title {
      font-size: 24px;
      &--small {
        font-size: 22px;
      }
    }
    &__adv {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      width: 300px;
    }
    &__text {
      font-size: 18px;
      &--small {
        font-size: 16px;
      }
    }
    &__prod {
      width: 100%;
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 639px) {
  .header {
    &__prod {
      &--big {
        position: static;
        width: 275px;
        margin-right: 10px;
      }
      &--small {
        margin-top: 40px;
        margin-right: -70px;
        width: 115px;
        position: static;
      }
    }
  }
}