.ever-popup {
  background: rgba(232, 237, 240, 0.9) !important;
}
.ever-popup__close:after, .ever-popup__close:before {
  background: $dark-green !important;
}
.ever-popup__inner {
  padding-top: 0 !important;
}
.ever-popup__close {
  top: 45px !important;
}
.popup {
  width: 870px;
  height: 720px;
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__prod {
    box-shadow: 0 12px 43px rgba(206, 215, 225, 0.75);
    border-radius: 12px 0 0 12px;
    background-color: #ffffff;
    width: calc(100% - 270px);
    position: relative;
    height: 501px;
    &--small {
      position: absolute;
      bottom: -81px;
      left: 341px;
      width: 235px;
      z-index: 3;
    }
    &--big {
      width: 462px;
      left: 113px;
      bottom: -60px;
      position: absolute;
      z-index: 2;
    }
    &--girl {
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: -11px;
    }
  }
}

@media screen and (max-width: 1190px) {
  .popup {
    & .form::before {
      display: none;
    }
  }
}

@media screen and (max-width: 1023px) {
  .popup {
    width: 748px;
    height: 557px;
    &__prod {
      &--small {
        width: 175px;
        bottom: -40px;
        left: 275px;
      }
      &--big {
        width: 370px;
        left: 38px;
        bottom: -35px;
      }
      &--girl {
        height: 480px;
        left: 10px;
      }
    }
  }
  .ever-popup__close {
    top: -35px !important;
  }
}

@media screen and (max-width: 767px) {
  .popup {
    width: 270px;
    height: auto;
    &__prod {
      display: none;
    }
  }


}
