.sert {

}

@media screen and (max-width: 1190px) {
  .sert {

  }
}

@media screen and (max-width: 1023px) {
  .sert {

  }
}

@media screen and (max-width: 767px) {
  .sert {

  }
}

@media screen and (max-width: 639px) {
  .sert {

  }
}