.technology {
	padding-top: 88px;
	padding-bottom: 41px;
	
	&__subtitle {
		font-size: 28px;
		margin-top: 7px;
	}
	&__flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 54px;
		padding-left: 14px;
		padding-right: 14px;
		position: relative;
	}
	&__item {
		max-width: 245px;
		text-align: center;
		position: relative;
		display: flex;
		flex-direction: column;
		// min-height: 700px;
	}
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		&__item {
			width: 245px;
		}
	}
	&__feel {
		color: #696f92;
		font-size: 17px;
		line-height: 1.06;
		min-height: 130px;
	}
	&__improv {
		position: relative;
		margin-top: 322px;
		font-size: 17px;
		line-height: 1.06;
		color: #2e2f33;
		font-weight: 500;
	}
	&__improv-head {
		color: #696f92;
			display: block;
			margin-bottom: 8px;
	}
	&__improv-1 {
		max-width: 260px;
		margin-left: -10px;
		margin-right: -6px;
	}
	&__chart {
		
		position: absolute;
		bottom: 158px;
		z-index: 0;
		left: 50%;
		width: 100%;
		max-width: 970px;
		transform: translateX(-50%);
		&::before {
			content: '';
		    display: block;
		    position: absolute;
		    height: 164px;
		    width: 945px;
		    bottom: 15px;
		    left: 50%;
		    transform: translateX(-50%);
		    background: transparent;
		    background-image: radial-gradient(white 39%, transparent 0);
		    background-size: 20px 20px;
		    background-position: 0 0, 15px 15px;
		    z-index: -1;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
		}
	}
	&__img {
		max-width: 970px;
		width: 100%;
		img {
			width: 100%;
			height: auto;
		}
	}

	&__marker {
		// position: absolute;
		// height: 76px;
		// width: 76px;
		// background-color: #8d94bb;
		// border-radius:  50%;
		// z-index: 0;
		// top: 270px;
		// left: 50%;
		// transform: translateX(-50%);
		// z-index: 20;
		position: absolute;
		height: 70px;
		width: 70px;
		background-color: #8d94bb;
		border-radius:  50%;
		z-index: 0;
		top: 270px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 20;

		&::before {
			position: absolute;
		    content: '';
		    width: 0px;
		    height: 0px;
		    bottom: -59px;
		    left: 1px;
		    border: 34px solid transparent;
		    border-top: 47px solid #8d94bb;
		    z-index: -1;
		    border-radius: 24px;
		}
	}
	&__round {
		background-color: #fff;
		height: 62px;
		width: 62px;
		border-radius: 50%;
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translateX(-50%) translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: flex-start;

	}

	&__days {
		
		text-align: center;
		font-size: 14px;
		span:first-of-type {
			font-size: 32px;
			display: block;
			line-height: 1;
			font-weight: bold;
			margin-top: 6px;
		}
		span:last-of-type {
			margin-top: -4px;
			display: block;
		}
	}
	&__marker-1 {
		top: 294px;
		color: #f57373;
	}
	&__marker-2 {
		top: 227px;
		color: #ff8a0d;
	}
	&__marker-3 {
		top: 185px;
		color: #d1a700;
	}
	&__marker-4 {
		top: 119px;
		color: #7ec700;
	}

	// technology__form
	&__prod {
		max-width: 331px;
		width: 31%;
		position: relative;
	}
	&__prod-big {
		max-width: 331px;
		width: 100%;
	    position: relative;
	    bottom: 23px;
	    left: 36px;
	}
	&__prod-small {
		
		position: absolute;
	    top: 0;
	    max-width: 207px;
	    width: 63%;
	    left: -15px;
	    top: -7px;

	}
	&__form-flex {
		display: flex;
		
		justify-content: space-between;
	}
	&__form-right {
		width: 65%;
		padding-top: 61px;
		padding-left: 10px;
		p {
			color: #333;
			font-size: 16px;
			margin-bottom: 5px;
		}
	}
	&__input-list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		
	}
	&__form .form__field {
		max-width: 220px;
		margin-right: 22px;
		margin-bottom: 0;
		width: 30%;
	}
	&__form .btn {
		max-width: 220px;
		width: 31%;
		margin-left: auto;
		margin-right: 8px;
		align-self: center;
	}

	

}

.technology__form {
	padding-bottom: 20px;
}

@media screen and (max-width: 1190px) {
  .section.technology__form {
  	padding-top: 0;
  	padding-bottom: 12px;
  }
  .technology {
	padding-top: 60px;
	padding-bottom: 60px;
	
	&__flex {
		margin-top: 34px;
	}
	&__item {
		max-width: 230px;
	}
	&__improv {
		margin-top: 244px;
	}
	&__marker {
		transform: translateX(-50%) scale(0.85);
	}
	&__marker-1 {
		top: 248px;
		color: #f57373;
	}
	&__marker-2 {
		top: 192px;
		color: #ff8a0d;
	}
	&__marker-3 {
		top: 156px;
		color: #d1a700;
	}
	&__marker-4 {
		top: 104px;
		color: #7ec700;
	}
	&__chart {
		&::before {
			width: 780px;
			height: 143px;
		}
	}
	&__img {
		max-width: 804px;
		margin-left: auto;
		margin-right: auto;
	}
	// technology__form
	

  }
}

@media screen and (max-width: 1023px) {
  .section.technology__form {
  	padding-top: 20px;
  	padding-bottom: 30px;
  }
  .section.technology {
  	padding-top: 50px;
  }
  .technology {

  	&__flex {
  		margin-top: 70px;
  		&::before {
  			content: '';
  			display: block;
  			position: absolute;
  			width: 20px;
  			height: 100%;
  			top: 50%;
  			transform: translateY(-50%);
  			
            background: repeating-linear-gradient(0deg, #dee6ec, #dee6ec 25px, #969bbd 25px, #969bbd 26px);

  		}
  	}
	&__chart {
		&::before {
			display: none;
		}
	}
	&__img {
		display: none;
	}
	&__item {
		flex-direction: row;
		max-width: none;
		background-color: #fff;
		margin-bottom: 50px;
		margin-top: 20px;
		margin-left: 20px;
		align-items: center;
		padding: 20px;
		border-radius: 10px;
		&:nth-last-of-type(2) {
			margin-bottom: 0;
		}
		&:first-of-type {
			margin-top: 0;
		}
	}
	&__feel {
		min-height: 0;
		width: 50%;
		padding-right: 40px;
	}
	&__marker {
		left: 50%;
		top: -55px;
		transform: scale(0.85) translateX(-50%);
	}
	&__improv {
		width: 50%;
		margin-top: 0;
		max-width: none;
		padding-left: 40px;
	}
	// technology__form
	&__form-flex {
		justify-content: center;
	}
	&__prod {
		width: 44%;
	}
	&__prod-big {
		top: 0;
		left: 0;
	}
	&__prod-small {
		left: -37px;
    	top: 16px;
	}
	&__form-right {
		margin-left: 40px;
		padding-top: 0px;
		max-width: 230px;
	}
	&__input-list {
		justify-content: center;
	}
	&__form .form__field {
		width: 100%;
		margin-right: 0;
		margin-bottom: 16px;
	}
	
	&__form .btn {
		width: 100%;
		max-width: none;
		margin-right: 0;
		
	}
  }
}

@media screen and (max-width: 767px) {
.section.technology__form {
  	padding-top: 20px;
  	padding-bottom: 30px;
  }
  .technology {
	// technology__form
	&__form-right {
		margin-left: 14px;
	}
	&__prod {
		width: 53%;
	}
  }
}

@media screen and (max-width: 639px) {
.section.technology__form {
  	padding-top: 20px;
  	padding-bottom: 30px;
  }
  .technology {
  	&__flex {
  		margin-top: 20px;
  	}
  	&__item {
  		flex-direction: column;
  		margin-left: 96px;
  		margin-top: 0;
  		margin-bottom: 20px;

  	}
  	&__feel {
  		padding-right: 0;
  		width: 100%;
  		font-size: 16px;
  	}
  	&__improv {
  		padding-left: 0;
  		width: 100%;
  		margin-top: 20px;
  		font-size: 16px;
  	}
  	&__marker {
  		transform: translateY(-50%) scale(0.7) rotate(90deg) ;
  		left: -70px;
  		top: 50%;
  	}
  	&__round {
  		transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  	}

	// technology__form
	&__form-right {
		margin-left: 0px;
	}
	&__prod {
		width: 53%;
		align-self: center;
	}
	&__prod-small {
		left: -18px;
		width: 58%;
	}
  }
}

@media screen and (max-width: 479px) {
	.technology {
		&__flex {
			&::before {
				width: 8px;
			}
		}
		&__item {
			margin-left: 70px;
			padding: 10px;
		}
		&__marker {
			left: -61px;
			    transform: translateY(-50%) scale(0.6) rotate(90deg);
		}
		&__feel {
			font-size: 14px;
		}
		&__improv {
			font-size: 14px;
		}
		&__days {
			font-size: 17px;
		}
		&__form-flex {
			flex-direction: column;
			align-items: center;
			
		}
		&__prod {
			margin-bottom: 20px;
		}

	}
}

